/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, main, menu, nav, section, summary {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.666666666667em;
  color: #43464b;
  background-color: #fff;
}

/*Meu modelo*/



.caixa, .linha, .col {background-color: transparent;}

.caixa {padding-top: 5px; border: 1px solid blue !important}

/*.caixa :last-child{padding-bottom: 5px;} */

.linha{width: 100%; padding-top: 10px; display: flex; justify-content: center; border: 1px solid red !important}

.linha:last-child{ padding-bottom: 10px;}

.col{padding-left: 10px; height: 50px; border: 1px solid yellow !important}

.col:last-child{ padding-right: 10px;}

.um {width:calc(8.33333333% - 10px)}

.dois {width:calc(16.66666667% - 10px)}

.tres {width: calc(25% - 10px)}

.quatro {width:calc(33.33333333% - 10px)}

.cinco {width:calc(41.66666667% - 10px)}

.seis {width:calc(50% - 10px)}

.sete {width:calc(58.33333333% - 10px)}

.oito {width:calc(66.66666667% - 10px)}

.nove {width:calc(75% - 10px)}

.dez {width:calc(83.33333333% - 10px)}

.onze {width:calc(91.66666667% - 10px)}

.doze {width:calc(100% - 10px)}